# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Java
target/
*.class
*.jar
*.war
!.mvn/wrapper/maven-wrapper.jar

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
